<h1>tables are</h1>
<ol>
<% @table.each do |table| %>
<li><%=table.values%> </li><br/>
<%end%>
</ol>
<% @table2.each do |table| %>
<li><%=table.values%> </li><br/>

<%end%>

<a href='/home'>click here to go back to home page</a>


