<html>
 <head>
  <title> Layout </title>
</head>
<body>
 <a href='/add'>add</a> &nbsp;
<a href='/pending'>pending</a> &nbsp;
<a href='/mark_done'>mark_done</a> &nbsp;
<a href='/completed'>completed_items</a> &nbsp;
<a href='/delete'>delete</a> &nbsp;

<%=yield%>
</body>
</html>
